* {
	padding:0;
	margin:0;
}

body {

    overflow:hidden;
	
	height:100%;
	width:80%;
	left:50px;
	color: #333;
	font: 16px Arial;
	padding: 50px;
	background-image: url(./.images/gbase.jpg);
    background-position: center;
   
}
span{
	font: 150% Arial;
	color:red;
}
h1 {
	text-align: center;
	padding: 30px 0 12px 0;
	margin: 0;
	color:red;
	font-size: 30px;
}
h2 {
	font-size: 16px;
	text-align: center;
	padding: 0 0 12px 0; 
}
#container {
	left:.3%;
	top:1%;
	position:absolute;
	height: 50%;
	width:21%;
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
	background: white; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
     opacity: 0.90;
}
#container2 {
	top:1%;
	left:22%;
	position:absolute;
	overflow-y: hidden;
	overflow-x:hidden;
    height: 10%;
	width:77.7%;
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
	background: white; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
     opacity: 0.91;
}
#container4 {
	top:11%;
	left:22%;
	position:absolute;
	overflow-y: scroll;
	overflow-x: hidden;
    height: 89%;
	width:78%;
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
	background: white; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
     opacity: 0.91;
}
#container3 {
	overflow-y: auto;
	left:.3%;
	top:52%;
	position:absolute;
	height: 48%;
	width:21%;
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
	background: white; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
     opacity: 0.80;
}
#containerA1{
	left:35%;
	top:10%;
	position:absolute;
    height: 300px;
	width:300px;
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
	background: white; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
     opacity: 0.91;
	}
	#containerA2{
	left:35%;
	top:10%;
	position:absolute;
    height: 520px;
	width:300px;
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
	background: white; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
     opacity: 0.91;
	}
#myInput {
	top:80%;
	position:absolute;
	left:2%;
    width:88%;
	height:30px;
	font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;  
  margin-bottom: 12px;
}

input[type='text'], input[type='email'],input[type='phone'], input[type='password'],input[type='date'], select
{
	border-radius: 25px;
            padding: 10px;
            width: 250px;
            height: 20px;
	
border: 1px solid #CCC;
 color: #333; 
 font-size: 14px; 
 margin-top: 10px;
  
 }
 input[type='date']{ width: 200px;}
 
 select{width: 200px;height: 40px;}
#a,#b,input[type='submit']
{
	padding: 4px 11px 4px; 
	color: #fff; 
	background-color: Green;
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-size: 16px; 
	box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
	border: 1px solid green; 
	border-radius:25px;
	margin-top: 10px;
 cursor:pointer;}

#tbh{
	width:100%;
	height:80px;
	display: flex;
}
#ha,#hb,#hc,#hd,#he,#hf{
	height:50%;
	vertical-align: middle;
	padding: 4px 11px 4px; 
	color: #fff; 
	background-color: Green;
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 20px; 
	border: 1px solid black; 
	border-radius: 2px;
	margin-top: 10px;
}
#ha{
	width:8%;
	}
#hb{
	width:47%;
	}
#hc{
	width:14%;
	}
#hd{
	width:10%;
		}
#he{
	width:10%;
		}
#hf{
	width:10%;
	}
#tb{
	width:100%;
	height:50px;
	display: flex;
}
#ba,#bb,#bc,#bd,#be,#bf{
	
	vertical-align: middle;
	padding: 4px 11px 4px; 
	color: ; 
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px; 
	border: 1px solid lightgrey; 
	border-radius: 2px;
	margin-top: 0px;
}
#ba{
	width:8%;
	}
#bb{
	width:48%;
	}
#bc{
	width:14%;
	}
#bd{
	width:10%;
		}
#be{
	width:10%;
		}
#bf{
	width:10%;
	}
